  <meta charset="utf-8"/>
  <script src="https://lab.demokracija.hr/javascripts/jquery.min.js"></script>
  <script src="https://lab.demokracija.hr/javascripts/jquery.cookie.js"></script>
  <script src="https://lab.demokracija.hr/javascripts/jquery.form.js"></script>
  <script src="https://lab.demokracija.hr/javascripts/i18n.js"></script>

  <script type="text/javascript" src="https://lab.demokracija.hr/javascripts/snuownd.js"></script>
  <script src="https://lab.demokracija.hr/javascripts/fumanchu.js"></script>
  <script src="https://lab.demokracija.hr/javascripts/jails.js"></script>
  <script src="https://lab.demokracija.hr/javascripts/i18n.js"></script>
  <script src="https://lab.demokracija.hr/javascripts/aaron.js"></script>
  <link href="https://lab.demokracija.hr/stylesheets/tacit.css" rel="stylesheet"/>
  <link href="https://lab.demokracija.hr/stylesheets/index.css" rel="stylesheet"/>

  <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Enriqueta" rel="stylesheet" type="text/css" />

  <!--link href="https://lab.demokracija.hr/stylesheets/font-awesome.min.css" rel="stylesheet"/-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!--link href="https://lab.demokracija.hr/stylesheets/test.css" rel="stylesheet"/-->
  <!--script src="scripts/some-script.js"-->
