<div class="vote_pair right" data-key="{{&Key}}">
  <a href="#" class="votable" onclick="return Vote(this, 1);" data-val="1" style="display: block;">{{>votes.upvote}}</a>
  <a href="#" class="votable" onclick="return Vote(this, -1);" data-val="-1" style="display: block;">{{>votes.downvote}}</a>
</div>
